@font-face {
    font-family: AkrobatBold;
    src: local("Akrobat Bold"),
    local("Akrobat-Bold"),
    url("../../img/font/Akrobat-Bold.ttf");
    font-weight: bold;
  }

  @font-face {
    font-family: AkrobatRegular;
    src: local("Akrobat Regular"),
    local("Akrobat-Regular"),
    url("../../img/font/Akrobat-Regular.ttf");
    font-weight: regular;
  }


* {
    padding: 0;
    margin: 0;
}


.bkgCustom {

	background-color: #ffffff;
}

.navbar-brand {

    margin: 0px 50px 0px 50px;
}


/* NAVIGATION */
nav {
    width: 100%;
    margin: 0 auto;

}

nav a {

    border-bottom: none;
}
nav ul {
    list-style: none;
    text-align: center;
}


nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none !important;
    color: rgb(0, 0, 0);
    font-weight: 400;   
    margin: 0 10px;
}


.primerNavbar {
    color: #000;
    font-family: 'Inter', sans-serif !important;
    font-weight: 400 !important;
}


.bg-transparent {

    background-color: transparent !important;
    transition: 0.75s ease;
}

.bg-transparent.scrolled {
    
    background-color: #000 !important;
    height: 10vh;
    padding-top: 2vh;
}



.bg-image {

    background: url('../../img/web04.png') ;
    height: 900px;
    margin-top: -100px;
    margin-left: -1px;

}

/*text + button*/

.text-white { 
    margin-top: 200px;
    font-family: AkrobatRegular;
   
}

.text-white h2 {

    width: 500px;
    margin: 0px 0px 30px 50px;
    font-size: 45pt;
    text-align: left;
    color: #000;
    font-weight: 300;
    line-height: 1.1 !important
}

.text-white span {
    color: rgba(67, 97, 238, 1) !important;
    font-weight: 400;
    font-family: AkrobatBold;
    font-size: 45pt;
 }

.text-white h2 {

    width: 500px;
    margin: 0px 0px 50px 50px;
    line-height: 35px;
    text-align: left;
    color: #000;
    font-weight: 300;
    
}


.btn-primary{

    background-color: rgba(67, 97, 238, 1) !important;
    border-radius: 30px !important;
}
                  
.bigButton .btn-primary {

    font-size: 30pt;
    margin-top: 30px;
    margin-left: -180px;
    width: 261px;
    height: 79px;
    border-radius: 55px !important;
    font-weight: 300;
}



/*second section - grid services*/


/*grid*/

.services span{
    font-size:15px;
}
a{
  text-decoration:none; 
  color: #0062cc;
  border-bottom:2px solid #0062cc;
}
.box{
    padding:60px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
}



.services .col {

    padding: 0px !important;
} 

.box-part01{

    border-radius: 10px !important;
    font-family: 'Inter', sans-serif;    

}

.box-part02{

    background-color: rgba(54, 11, 152, 1);    
    color:rgba(54, 11, 152, 1);
    height: 403px;
    border-radius: 10px;
    

}

.box-part03{

    background-color: #F2AC59;    
    color:#F2AC59;
    height: 403px;
    border-radius: 10px;
   

}

.box-part04{

    background-color: #7209B7;    
    color:#7209B7;
    height: 403px;
    margin: 0px !important;
    border-radius: 10px;

}

.box-part05{

    background-color: #43C773;    
    color:#43C773;
    height: 403px;
    border-radius: 10px;

}

.box-part06{

    background-color: #4CC9F0;    
    color:#4CC9F0;
    height: 403px;
    border-radius: 10px;
}


/*third section - framework*/


.servicesLine {

    height: 400px;
    
}

.emptyText {

    height: 1px;
}

.frame h1 {

    font-family: AkrobatRegular;
    font-size: 64px;
    margin: 50px 0px 50px 0px;
}

.frame span{

    font-family: AkrobatBold;
    font-size: 64px;
    color: rgba(67, 97, 238, 1);

}



.asd01 {

    background-color: rgba(67, 97, 238, 0.4);
    border-color: 1px #fff !important;
    border-radius: 5px;    
}

.pruebaHover :hover {

    background-color: rgba(67, 97, 238, 1)
}

.asd01 .icon {

    margin: 50px;
}

.asd01 h2 {

    font-family: AkrobatRegular;
    font-size: 36px;
    color: #fff;
}

.asd01 .datas {

    font-weight: 600;
     font-size: 18px;
}

.asd01 hr {

    border: 1px solid #fff;
}

.asd01 p {

    text-align: center;
    color: #fff;
    font-size: 16px;
}



.servicesLine hr {

    border: 0.5px solid rgba(255, 255, 255, 0.288);
}

.servicesLine p {

    margin: 30px;
}

/*02*/

.asd02 {

    background-color: rgba(67, 97, 238, 0.5);
    border-color: 1px #fff !important;
    border-radius: 5px;
}

.asd02 .icon {

    margin: 56.5px;
}

.asd02 h2 {

    font-family: AkrobatRegular;
    font-size: 36px;
    color: #fff;
}

.asd02 .datas {

    font-weight: 600;
     font-size: 18px;
}

.asd02 hr {

    border: 1px solid #fff;
}

.asd02 p {

    text-align: center;
    color: #fff;
    font-size: 16px;
}



.servicesLine hr {

    border: 0.5px solid rgba(255, 255, 255, 0.288);
}

.servicesLine p {

    margin: 30px;
}

/*03*/


.asd03 {

    background-color: rgba(67, 97, 238, 0.6);
    border-color: 1px #fff !important;
    border-radius: 5px;
}

.asd03 .icon {

    margin: 50px;
}

.asd03 h2 {

    font-family: AkrobatRegular;
    font-size: 36px;
    color: #fff;
}

.asd03 .datas {

    font-weight: 600;
     font-size: 18px;
}

.asd03 hr {

    border: 1px solid #fff;
}

.asd03 p {

    text-align: center;
    color: #fff;
    font-size: 16px;
}



.servicesLine hr {

    border: 0.5px solid rgba(255, 255, 255, 0.288);
}

.servicesLine p {

    margin: 30px;
}



/*04*/


.asd04 {

    background-color: rgba(67, 97, 238, 0.7);
    border-color: 1px #fff !important;
    border-radius: 5px;
}

.asd04 .icon {

    margin: 50px;
}

.asd04 h2 {

    font-family: AkrobatRegular;
    font-size: 36px;
    color: #fff;
}

.asd04 .datas {

    font-weight: 600;
     font-size: 18px;
}

.asd04 hr {

    border: 1px solid #fff;
}

.asd04 p {

    text-align: center;
    color: #fff;
    font-size: 16px;
}



.servicesLine hr {

    border: 0.5px solid rgba(255, 255, 255, 0.288);
}

.servicesLine p {

    margin: 30px;
}



/*05*/


.asd05 {

    background-color: rgba(67, 97, 238, 0.8);
    border-color: 1px #fff !important;
    border-radius: 5px;
}

.asd05 .icon {

    margin: 50px;
}

.asd05 h2 {

    font-family: AkrobatRegular;
    font-size: 36px;
    color: #fff;
}

.asd05 .datas {

    font-weight: 600;
     font-size: 18px;
}

.asd05 hr {

    border: 1px solid #fff;
}

.asd05 p {

    text-align: center;
    color: #fff;
    font-size: 16px;
}



.servicesLine hr {

    border: 0.5px solid rgba(255, 255, 255, 0.288);
}

.servicesLine p {

    margin: 30px;
}

/*06*/


.asd06 {

    background-color: rgba(67, 97, 238, 0.9);
    border-color: 1px #fff !important;
    border-radius: 5px;
}

.asd06 .icon {

    margin: 50px;
}

.asd06 h2 {

    font-family: AkrobatRegular;
    font-size: 36px;
    color: #fff;
}

.asd06 .datas {

    font-weight: 600;
     font-size: 18px;
}

.asd06 hr {

    border: 1px solid #fff;
}

.asd06 p {

    text-align: center;
    color: #fff;
    font-size: 16px;
}



.servicesLine hr {

    border: 0.5px solid rgba(255, 255, 255, 0.288);
}

.servicesLine p {

    margin: 30px;
}

/*SOLUTIONS*/

/*VERTICAL TABS*/

.tabs-section {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    padding: 60px 0px;
    
}
.tabs-section .feature-img {
    max-height: 255px;
    overflow: hidden;
    border-radius: 10px;
    border: 3px solid #4361EE;
}
.tabs-section .nav-tabs {
    border: 0;
}
.tabs-section .nav-link {
    border: 0;
    padding: 11px 15px;
    transition: 0.3s;
    color: #000000;
    border-radius: 0;
    border-bottom: 1px solid #000000 !important;
    font-weight: 600;
    font-size: 15px;
}
.tabs-section .nav-link:hover {
    background-color: #4361EE;
    color: #fff;
}

.tabs-section .tab-pane.active {
    -webkit-animation: fadeIn 0.5s ease-out;
    animation: fadeIn 0.5s ease-out;
}


.nav-tabs .nav-link   {

    border-bottom: 1px solid #000 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

/*menu style*/

.text-white02 {

    font-family: 'Inter', sans-serif;
    font-size: 22pt !important;
    color: rgba(0, 0, 0, 0.7) !important;
    
}

.text-white02 span {

    font-family: 'Inter', sans-serif;
    font-size: 24pt;
    color: #000;
}

.text-white02 a:focus {

    
    background-color: #4361EE !important;
    color: rgba(255, 255, 255, 0.7) !important;
    
}


.text-white02 a:focus span {   
    
    color: #fff !important;
    
}


/* Formulario*/


.formu h1 {

    font-family: AkrobatRegular;
    font-size: 64px;
    margin: 50px 0px 50px 0px;
}

.formu span {

    color: rgba(67, 97, 238, 1) !important;
    font-weight: 400;
    font-family: AkrobatBold;
    font-size: 45pt;
    
}


.formu input{

    max-width: 50%;
}

.formu textarea {

    max-width: 76%;
    height: 230px !important;
}

.formu button {

    font-size: 18pt;    
    width: 150px;
    height: 50px;
    border-radius: 60px !important;
    font-weight: 300;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0px 350px 170px 0px;
}  

